services:
  unsloth:
    build:
      context: .
      args:
        UID: "${UID}"
        GID: "${GID}"
      dockerfile: Dockerfile
    container_name: unsloth-dgx-spark
    restart: unless-stopped
    ports:
      - "8888:8888"
    environment:
      GEMINI_API_KEY: "${GEMINI_API_KEY}" # optional
      WANDB_API_KEY: "${WANDB_API_KEY}" # optional
      HUGGINGFACE_HUB_TOKEN: "${HUGGINGFACE_HUB_TOKEN}" # optional
    user: "${UID}:${GID}"
    volumes:
      - ./app:/app
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
    shm_size: 1g
    ulimits:
      memlock:
        soft: -1
        hard: -1
      stack:
        soft: 67108864
        hard: 67108864
    gpus: all
